%nav
  %ul.nav.nav-stacked
    %li= link_to 'Overview', '/projects/'

  %h5 Applications
  %ul.nav.nav-stacked
    %li= link_to 'ruma', '/projects/ruma/'
    %li= link_to 'ruma-client-server', '/projects/ruma-client-server/'
    %li= link_to 'ruma-extra-server', '/projects/ruma-extra-server/'
    %li= link_to 'ruma-federation-server', '/projects/ruma-federation-server/'

  %h5 Libraries
  %ul.nav.nav-stacked
    %li= link_to 'ruma-api', '/projects/ruma-api/'
    %li= link_to 'ruma-api-macros', '/projects/ruma-api-macros/'
    %li= link_to 'ruma-client', '/projects/ruma-client/'
    %li= link_to 'ruma-client-api', '/projects/ruma-client-api/'
    %li= link_to 'ruma-events', '/projects/ruma-events/'
    %li= link_to 'ruma-identifiers', '/projects/ruma-identifiers/'
    %li= link_to 'ruma-signatures', '/projects/ruma-signatures/'
