%nav
  %ul.nav.nav-stacked
    %li= link_to 'Overview', '/projects/'

  %h5 Libraries
  %ul.nav.nav-stacked
    %li= link_to 'ruma-api', '/projects/ruma-api/'
    %li= link_to 'ruma-api-macros', '/projects/ruma-api-macros/'
    %li= link_to 'ruma-appservice-api', '/projects/ruma-appservice-api/'
    %li= link_to 'ruma-client', '/projects/ruma-client/'
    %li= link_to 'ruma-client-api', '/projects/ruma-client-api/'
    %li= link_to 'ruma-events', '/projects/ruma-events/'
    %li= link_to 'ruma-events-macros', '/projects/ruma-events-macros/'
    %li= link_to 'ruma-federation-api', '/projects/ruma-federation-api/'
    %li= link_to 'ruma-identifiers', '/projects/ruma-identifiers/'
    %li= link_to 'ruma-signatures', '/projects/ruma-signatures/'
