---
pageable: true
title: This Week in Ruma
---

.container
  .row
    .col-md-8.col-md-offset-2
      - page_articles.each do |news|
        = partial "news", locals: { news: news }

      %nav
        %ul.ruma-pagination
          - if prev_page
            %li
              %span &larr;
              = link_to 'Previous', prev_page, rel: 'prev'
          %li= "Page #{page_number}"
          - if next_page
            %li
              = link_to 'Next', next_page, rel: 'next'
              %span &rarr;
