!!! 5
%html
  %head
    %meta{ content: 'IE=edge', http_equiv: 'X-UA-Compatible' }
    %meta{ charset: 'utf-8' }
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    %link{ href: image_path('apple-touch-icon-57x57.png'), rel: 'apple-touch-icon-precomposed', sizes: '57x57' }
    %link{ href: image_path('apple-touch-icon-114x114.png'), rel: 'apple-touch-icon-precomposed', sizes: '114x114' }
    %link{ href: image_path('apple-touch-icon-72x72.png'), rel: 'apple-touch-icon-precomposed', sizes: '72x72' }
    %link{ href: image_path('apple-touch-icon-144x144.png'), rel: 'apple-touch-icon-precomposed', sizes: '144x144' }
    %link{ href: image_path('apple-touch-icon-60x60.png'), rel: 'apple-touch-icon-precomposed', sizes: '60x60' }
    %link{ href: image_path('apple-touch-icon-120x120.png'), rel: 'apple-touch-icon-precomposed', sizes: '120x120' }
    %link{ href: image_path('apple-touch-icon-76x76.png'), rel: 'apple-touch-icon-precomposed', sizes: '76x76' }
    %link{ href: image_path('apple-touch-icon-152x152.png'), rel: 'apple-touch-icon-precomposed', sizes: '152x152' }
    %link{ href: image_path('favicon-196x196.png'), rel: 'icon', sizes: '196x196', type: 'image/png' }
    %link{ href: image_path('favicon-96x96.png'), rel: 'icon', sizes: '96x96', type: 'image/png' }
    %link{ href: image_path('favicon-32x32.png'), rel: 'icon', sizes: '32x32', type: 'image/png' }
    %link{ href: image_path('favicon-16x16.png'), rel: 'icon', sizes: '16x16', type: 'image/png' }
    %link{ href: image_path('favicon-128.png'), rel: 'icon', sizes: '128x128', type: 'image/png' }
    %meta{ content: 'Ruma', name: 'application-name' }
    %meta{ content: '#FFFFFF', name: 'msapplication-TileColor' }
    %meta{ content: image_path('mstile-144x144.png'), name: 'msapplication-TileImage' }
    %meta{ content: image_path('mstile-70x70.png'), name: 'msapplication-square70x70logo' }
    %meta{ content: image_path('mstile-150x150.png'), name: 'msapplication-square150x150logo' }
    %meta{ content: image_path('mstile-310x150.png'), name: 'msapplication-wide310x150logo' }
    %meta{ content: image_path('mstile-310x310.png'), name: 'msapplication-square310x310logo' }
    %title= current_page.data.title || "Ruma - Matrix applications and libraries written in the Rust programming language."
    %meta{ content: 'Ruma is a collection of Matrix applications and libraries written in the Rust programming language.', name: 'description' }
    %link{ rel: 'canonical', href: full_url_for(current_page.url) }
    %link{ rel: 'alternate', type: 'application/atom+xml', href: url_for('/news/feed.atom') }
    = stylesheet_link_tag :site
  %body{ class: page_classes }
    = partial "nav"
    = yield
    %footer.ruma-footer
      .container-fluid
        %ul.nav
          %li= link_to 'GitHub', 'https://github.com/ruma'
          %li= link_to 'Twitter', 'https://twitter.com/ruma_io'
          %li= link_to 'Matrix room', 'https://matrix.to/#/#ruma:matrix.org'

    .container-fluid
      %p.text-center
        %small
          The source code and content of this website are free and available under the MIT license:
          = link_to 'www.ruma.io', 'https://github.com/ruma/ruma.github.io'
